/* Contdonwn */

body {
  background: #222 url("../img/bg.gif") repeat;
  color: #fff;
  -moz-text-shadow: 0 -1px 0 #000;
  -webkit-text-shadow: 0 -1px 0 #000;
  text-shadow: 0 -1px 0 #000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.container {
  text-align: center;
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -400px;
}

.timer {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.value {
  font-size: 60px;
  margin: 0 0 10px;
  line-height: 1;
}

.label {
  font-size: 18px;
}
